<!DOCTYPE html>

<html>

<head>
    <head>
        <title>{% block page_name %}{{ page_name }}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
</head>

<body>

<nav class="navbar is-transparent" role="navigation" aria-label="main navigation"">
    <h1>Cats on Skis!</h1>
    &nbsp;&nbsp;
    <div class="has-text-success-dark is-size-4  has-text-weight-medium field is-grouped">
        <a class="navbar-item is-hoverable" href="{{ url_for('home') }}">
            Home
        </a>
        <a class="navbar-item is-hoverable" href="{{ url_for('all_pages') }}">
            Pages
        </a>
        <a class="navbar-item is-hoverable" href="{{ url_for('about') }}">
            About
        </a>
    </div>
</nav>

<hr class="solid">
<div>
    {% block content %}{{ page_content }}{% endblock %}
</div>

&nbsp;&nbsp;
<h4 class="has-text-dark">Leave a message!</h4>

<textarea 
    class="textarea"
    placeholder="your messsage here"
    rows="2"
></textarea>
<div class="buttons has-addons is-right">
    <button class="button is-normal is-responsive is-info is-warning">Send your message</button>
</div>


<footer class="has-background-dark is-fixed-bottom">
    <div class="has-text-centered">
        <p class="has-background-dark has-text-white">
            <strong class="has-text-white">Cats on Skis</strong> is my very beautiful blog. Feel free to take a look around. Stay a while!</p>
        </p>
    </div>
</footer>

</body>

</html>